*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffd6e7,#ffc2dc,#ffeaf5);
    background-size:300% 300%;
    animation:bg 10s ease infinite;
}

@keyframes bg{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.card{
    width:90%;
    max-width:360px;
    padding:28px;
    border-radius:28px;
    text-align:center;

    background:rgba(255,255,255,.28);
    backdrop-filter:blur(16px);

    box-shadow:0 15px 35px rgba(255,105,180,.25);

    animation:show .6s ease;
}

@keyframes show{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.cat{
    width:210px;
    max-width:100%;
    border-radius:22px;
    margin-bottom:18px;
}

h1{
    color:#ff3f8b;
    font-size:30px;
    margin-bottom:12px;
}

#question{
    color:#555;
    font-size:20px;
    margin-bottom:28px;
}

.buttons{
    display:flex;
    gap:14px;
    justify-content:center;
    position:relative;
    min-height:65px;
}

button{
    width:120px;
    height:55px;
    border:none;
    border-radius:16px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}

#yes{
    background:#ff4f95;
    color:white;
    box-shadow:0 8px 18px rgba(255,79,149,.35);
}

#yes:active{
    transform:scale(.95);
}

#no{
    background:white;
    color:#ff4f95;
    border:2px solid #ff4f95;
}

.heart{
    position:fixed;
    top:-40px;
    font-size:22px;
    pointer-events:none;
    animation:fall linear infinite;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
    }
}

@media(max-width:400px){

h1{
font-size:27px;
}

button{
width:110px;
height:52px;
font-size:18px;
}

}
